.web-tracing {
    position: absolute;
    top: 30px;
    left: 0px;

    z-index: 10;

    display: flex;
    flex-direction: row;

    font-size: 12px;
}
.web-tracing > * {
    margin: 10px 0 0 10px;
}
.web-tracing canvas {
    background: white;
}

.aframe-inspector-opened .web-tracing {
    left: 230px;
}

/* Les boutons */
#web-tracing-data {
    display: flex;
    flex-direction: column;
}

#web-tracing-data > * {
    margin: 10px 0 0 10px;
}

.web-tracing .actions > p {
    margin: 5px 0 0 10px;
    color: #2b2b2b;

    font-family: sans-serif;
}

.web-tracing .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.web-tracing .actions * {
    margin: 10px 0 0 10px;
}

.web-tracing .actions input {
    border: 0 solid black;
    width: 40px;
}


#web-tracing-display {
    position: relative;
    margin-right: -5px;
    background: transparent;
}

#web-tracing-data.hidden #web-tracing-display {
    display: none;
}

#web-tracing-fullscreen-canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}
#web-tracing-fullscreen-canvas.hidden {
    display: none;
}


.loading-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    background-color: rgba(0, 0, 0, 0.1);

    display: none; /* Flex when loading */
    flex-direction: column;
    align-items: center;
}
#web-tracing-display.loading .loading-overlay {
    display: flex;
}
.loading-overlay .loader {
    margin: auto;
}

.btn {
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    padding: 5px 7px;

    background: #fff;
    color: #343434;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #f7f7f7;
}


/* Un peu de relief dans ce monde plat */
.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
}

/*
.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
*/

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* Loader */
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
